#Header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(50,50,93);
    color: white;
    align-items: center;
    margin: 0px;
}
#Header div{
    display: flex;
    gap: 10px;
}

#Header div button{
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
}